/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*general*/
    --background-color:#0d0c0c;
    --global-font-color:#ff9800;
    --global-p-font-color:#ffd19b; /*applies to most of the text*/
    --global-link-color:#6e6e6e; /*applies to all links*/
    --global-lonk-on-hover-color:#ffc683;
    /*handles navigation*/
    --hamburger-icon-color:#6e6e6e;
    --menu-bg-color:#0d0c0c;  /*same as bg*/
    --menu-link-color:#6e6e6e;
    --menu-bg-on-hover-color:#ffc683; /*for visual clarity*/
    --menu-link-on-hover-color:#0d0c0c;
    /*buttons global!*/
    --global-btn-border-color:#ffba6a; /*global border color*/
    --global-btn-color-1:#ffaf50;
    --global-btn-text-color-1:#3b3b3b;
    --global-btn-color-2:#3b3b3b;
    --global-btn-text-color-2:#ffaf50;

    --global-container-bg-color:#0d0c0c;
    --global-container-border-color:#ffba6a;

    --experience-subtitle-color:#ffa333;

    --project-container-border-color:#ffba6a;
    --project-container-bg-color:#0d0c0c;
    --project-title-color:#ffa333;
    --project-btn-font-color:#ffaf50;
    --project-btn-border-color:#ffba6a;

    --contact-container-border-color:#ffba6a;
    --contact-container-bg-color:#0d0c0c;
}

* {
  margin: 0;
  padding: 0;
}

body {
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Poppins", sans-serif;
    background-color:var(--background-color);
    color: var(--global-font-color);
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--global-p-font-color);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: var(--global-link-color);
  text-decoration: none;
  text-decoration-color: var(--global-link-color);
}

a:hover {
  color: var(--global-lonk-on-hover-color);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--global-lonk-on-hover-color);
}

.logo {
  font-size: 3rem;
  font-weight: 600;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color:  var(--hamburger-icon-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color:  var(--menu-bg-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--menu-link-color);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
    background-color: var(--menu-bg-on-hover-color);
    color: var(--menu-link-on-hover-color);
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  filter: invert(1);
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: var(--global-btn-border-color) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--global-btn-color-1);
  color: var(--global-btn-text-color-1);
}

.btn-color-1:hover {
  background: var(--global-btn-color-2);
  color: var(--global-btn-text-color-2);
}

.btn-color-2 {
  background: none;
  color: var(--global-btn-text-color-2);
}

.btn-color-2:hover {
  border: var(--global-btn-border-color) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--global-container-bg-color);
  border-radius: 2rem;
  border:var(--global-container-border-color) 0.1rem solid;
  border-color: var(--global-container-border-color);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: var(--experience-subtitle-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: var(--project-container-border-color);
  background: var(--project-container-bg-color);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: var(--project-title-color);
}

.project-btn {
  color: var(--project-btn-font-color);
  border-color: var(--project-btn-border-color);
}

.project-card-containers {
    transform-style: preserve-3d;
    transform: perspective(1250px);
}

/* Add animation for project cards */

/* .project-card-containers .project-card {
    transition: 0.5s;
    filter: brightness(0.9);
} */

/* .project-card-containers .project-card:hover {
    transform: translateZ(150px);
} */

/* .project-card-containers .project-card:hover + * {
    transform: translateZ(125px) rotateY(15deg);
} */

/* .project-card-containers .project-card:has(+ * :hover) {
    transform: translateZ(125px) rotateY(-15deg);
} */

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: var(--contact-container-border-color) 0.1rem solid;
  border-color: var(--contact-container-border-color);
  background: var(--contact-container-bg-color);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}